
.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

#tree {
	float: left;
	border: 1px solid blue
}

div.tooltip { 
    position: absolute;     
    text-align: center;     
    width: 300px;          
    height: 150px;         
    padding: 2px;       
    font: 12px sans-serif;    
    background: #fff;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
    pointer-events: none;     
}