
body,
html {
  margin: 0;
  padding: 0
}

/* SVG */
.node.level5 {
	cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: #007bff;
  stroke-width: 3px;
}

.node.highlight circle {
  fill: #007bff;
}

.node text {
  font: 10px sans-serif;
  text-shadow: 0 0 2px #fff;
  text-transform: lowercase;
}

.node:hover text,
.node:hover circle {
  fill: #007bff;
}

.node.highlight text {
  fill: black;
  font-size: 12px;
  font-weight: bold;
  text-transform: capitalize;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.link.highlight {
  stroke: #007bff;
  stroke-width: 6px;
}


#skills span {
    display: inline-block;
    margin-right: 10px;
}

#tree {
  border: 1px solid #ccc;
  height: 500px;
  position: relative;
}

#radar {
  width:100%;
  height:300px;
}

#table tr {
  cursor: pointer;
}

.tooltip .title {
  text-align: left;
}

.tooltip { 
    position: absolute;
    right: 0;
    bottom: 0;   
    text-align: justify;    
    width: 33%;          
    height: auto;         
    padding: 8px;
    margin: 16px;
    font: 12px sans-serif;    
    background: #fff;
    box-shadow: 4px 4px 12px rgba(0,0,0,0.4);
    border: 2px solid #007bff;
    border-radius: 3px;
    pointer-events: none;     
}


.skill {
  background: #eee;
  margin: 3px 0;
  padding: 3px;

}

#version {
  color:#ccc;
  padding: 4px;
  font-style: italic;
  text-align: right;
}

#searchjobs_wrap {
  position: relative;
}
#searchlist {
  position: absolute;
  z-index: 2000;
  max-height: 400px;
  overflow-y: auto;
}
#searchlis .list-group-item {
  cursor: pointer;
}
